<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="io.r2dbc.postgresql" level="INFO"/>
    <logger name="io.r2dbc.postgresql.QUERY" level="DEBUG"/>
    <logger name="io.r2dbc.postgresql.PARAM" level="DEBUG"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>